<div class=input-box>
  <div class=input-form>
    <%= form_for @message do |f| %>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

      <div class="form-item">
        <h6><%= f.label 'いつ送りますか？' %></h6>
        <%= f.date_field :when_message, autofocus: true , class: "year",  value: "2000-01-01"%>
      </div>

      <div class="form-group form-group-sm">
        <div class="col-lg-offset-2 col-lg-10">
          <h6 class="gazou"><%= f.label '画像を選択してください' %></h6>
          <%= f.file_field :image, autofocus: true, class: 'btn btn-sm btn-info'  ,id: "btn_filename" %>
      </div>
    </div>

    <div class="form-item">
      <%= f.label '送る人の名前' %><br />
      <%= f.text_field :name, autofocus: true, placeholder: '〇〇さん', class: 'email-box' %>
    </div>
    <div class="email-form">
      <div class="form_item">
        <%= f.label '送る人のメールアドレス' %><br />
        <%= f.text_field :email, autofocus: true, placeholder: 'sample@gmail.com', class: 'email-box' %>
      </div>
    </div>

      <div class="field">
        <h6><%= f.label '質問項目' %></h6>
        <%= f.collection_select(:question_id, Question.all, :id, :content, :prompt => "質問を選択してください") %>
      </div>

      <div class="field">
        <%= f.label '回答' %><br />
        <%= f.text_area :answer1, autofocus: true, rows: 5, class: 'answer-box' %>
      </div>

      <div class="field">
        <%= f.label '自由に記述してください' %><br />
        <%= f.text_area :answer2, autofocus: true, rows: 5, class: 'answer-box' %>
      </div>
      <%= f.submit class: "create-botton btn btn-info "%>
    <% end %>
  </div>
</div>
