<%= form_for @message do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>

  <div class="field">
    <%= f.label 'いつ送るか？' %><br />
    <%= f.date_field :when_message, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label '書き手' %><br />
    <%= f.text_field :sender_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label '内容' %><br />
    <%= f.text_area :content, autofocus: true, rows: 5 %>
  </div>
<% end %>
