<%= form_for @message do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= f.label 'いつ送るか？' %><br />
    <%= f.date_field :when_message, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label '画像' %><br />
    <%= f.file_field :image, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label 'メールアドレス' %><br />
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label '質問項目' %><br />
    <%= f.collection_select(:question_id, Question.all, :id, :content, :prompt => "質問を選択してください") %>
  </div>

  <div class="field">
    <%= f.label 'kotae ' %><br />
    <%= f.text_area :answer1, autofocus: true, rows: 5 %>
  </div>

  <div class="field">
    <%= f.label '内容' %><br />
    <%= f.text_area :answer2, autofocus: true, rows: 5 %>
  </div>
  <%= f.submit%>
<% end %>
